
<div style="margin-top: 20px;">
	<center>
		Contact me：<a href="mailto:549052145@qq.com">549052145@qq.com</a>
	</center>
	<center>
		© 2016 <a href="http://www.xingfly.com" target="_blank">xingfly.com</a> Powered by SuperS &nbsp;&nbsp;
	</center>
    <center>
        <a class="fa fa-weibo footer-link" href="http://weibo.com/u/2658846335"></a>&nbsp;&nbsp;
    </center>
</div>
